.chess .board {
    cursor: default;
}
.chess .board .back {
    fill: rgb(240, 220, 210);
}
.chess .board .dark {
    fill: rgba(140, 70, 20, 0.3);
}
.chess .board .light {
    fill: rgba(140, 70, 20, 0);
}

.chess .board .dark.preview {
    fill: rgba(140, 70, 20, 0.6);
}
.chess .board .light.preview {
    fill: rgba(140, 70, 20, 0.2);
}

.chess .piece {
    cursor: pointer;
}

.chess .piece:hover {
    stroke: rgba(200, 50, 50, 0.3);
    stroke-width: 10;
}
.chess .piece.selected {
    stroke: rgba(200, 50, 50, 0.3);
    stroke-width: 10;
}

.chess .legalMove {
    box-shadow: inset 0 0 5px rgba(50, 200, 50, 1);
    background-color: rgba(140, 40, 10, 0.3);
}

.chess .graveyard {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chess .graveyard li {
    font-size: 5vmin;
    display:inline;
    margin: 0;
    padding: 0;
}